.root2{
    text-align: center  ;
}
 .btSign{
    background-color: #384F81;
    border-radius: 20px;    
    padding: 10px;
    width: 30%;
    color: white;
}

.left{
    text-align: left;
}

.btn-white{
    border-radius: 20px;
    width: 30%;
    border: 1px solid black;
}
.fa-facebook {
    background: white;
    border-radius: 40px;
    padding: 5px;
}
.btn-success{
    border-radius: 20px;
    margin: 20px;
    width: 10%;
    color: black;
    font-weight: bold;
}
